:root{
    --color-primary: #b700ffb2;
    --color-primary-dark: #0011ff52;

    --color-secondary: #ff0000b9;
    --color-secondary-dark:#b93ab377;

    --COLOR-GRAY-LIGHT: #F1F1F1;
    --COLOR-gray: #ccc;
    --color-gray-dark: #1100ff;

}