header{
    padding: 60px;
    text-align: center;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-size: 40px;
    margin: 0 0 20px;

}

header p{
    margin: 0 0 10px;
    
}

header div{
    background-color: rgba(222, 75, 252, 0.589);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
